aiohttp
aiorpcx
aiosmtplib
aiosqlite
asteval>=1.0.8
bs4
colour-science
emoji==2.0.0
ffmpeg-python
google-genai
imageio[ffmpeg]
jieba>=0.42.1
matplotlib
mistune
nonebot-adapter-onebot
nonebot-plugin-apscheduler
nonebot-plugin-htmlrender
nonebot-plugin-picstatus
nonebot2[fastapi]
openai
opencv-python-headless
orjson
pandas
pdf2image>=1.17.0
picimagesearch>=3.12.11
pillow
pilmoji[requests]==2.0.4
pydub
python-dotenv
pyyaml
pyzbar>=0.1.9
qrcode>=8.2
rapidfuzz
rembg>=2.0.69
requests
scikit-learn>=1.8.0
scipy
sekai-deck-recommend-cpp
svgwrite
setproctitle
bypy
colour-science
opencv-python-headless
zstandard
aiosqlite
rapidfuzz
sekai_deck_recommend_cpp
pydub
audioop-lts
yappi
brotli
scipy
mistune
psutil<7.0.0

